textarea.form-control {
  height: auto;
  padding-top: 13.5px;
  resize: none;
}
span.stepTitle.active {
    color: white !important;
}

button.wizard-btn {
    background: white !important;
    color: black !important;
    border-radius: 20px !important;
    border-color: #eae3df !important;
}

ul {
    text-align: justify;
    /* list-style: square !important; */
}

.loading {
  display: block;
  margin: auto;
  position: relative;
  width: 100px;
  height: 100px;
}
.loading span {
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
}
.loading span:nth-child(1) {
  top: 0;
  left: 0;
  background-color: rgba(66, 133, 244, 0.75);
  -webkit-animation: move1 2s linear infinite;
  animation: move1 2s linear infinite;
}
.loading span:nth-child(2) {
  top: 0;
  right: 0;
  background-color: rgba(219, 68, 55, 0.75);
  -webkit-animation: move2 2s linear infinite;
  animation: move2 2s linear infinite;
}
.loading span:nth-child(3) {
  bottom: 0;
  left: 0;
  background-color: rgba(244, 180, 0, 0.75);
  -webkit-animation: move3 2s linear infinite;
  animation: move3 2s linear infinite;
}
.loading span:nth-child(4) {
  bottom: 0;
  right: 0;
  background-color: rgba(15, 157, 88, 0.75);
  -webkit-animation: move4 2s linear infinite;
  animation: move4 2s linear infinite;
}

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    z-index: 10;
  }
  25% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  50% {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
  75% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    z-index: 0;
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes move1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
    z-index: 10;
  }
  25% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  50% {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
  75% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    z-index: 0;
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes move2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
    z-index: 0;
  }
  75% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    z-index: 10;
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes move2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
    z-index: 0;
  }
  75% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    z-index: 10;
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@-webkit-keyframes move3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    z-index: 10;
  }
  50% {
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
  }
  75% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    z-index: 0;
  }
}
@keyframes move3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    z-index: 10;
  }
  50% {
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
  }
  75% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    z-index: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    z-index: 0;
  }
  50% {
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    z-index: 10;
  }
  75% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes move4 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    z-index: 0;
  }
  50% {
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    z-index: 10;
  }
  75% {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}


.input-file-container {
  position: relative;
  width: 225px;
}
.js .input-file-trigger {
  /* display: block; */
  padding: 10px 15px;
  background: #e81240;
  border: 1px solid white;
  border-radius: 3vh;
  color: #fff;
  /* font-size: 1em; */
  transition: all .4s;
  cursor: pointer;
  position: relative;
  left: 40%;
  bottom: 10vh;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #783689;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Archivo adjuntado: ";
  font-style: normal;
  font-weight: normal;
}

.container-fluid {
  width: 80% ;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/**TABLE RESPONSIVE**/
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}



.cf2 {
    width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.finish-button{
background-color:#43A047 !important;
border-color: #43A047 !important;
}
span.stepTitle {
    color: white;
}
.container_label {
  font-weight: bold;
  font-size: 162%;
  line-height: 2;
  color: #2a6cb3;
}
label {
  color: #000;
}
input {
  line-height: normal;
  font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	margin-left: .5em !important;
}
input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
	max-width: 1em!important;
	height: 1em!important;
	appearance: none;
	-webkit-appearance: none;
	width: 2em !important;
	background: #fff;
	border: 1px solid #8f8f8f;
	border-radius: 3px;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background: #2a6cb3;
	background: #7097d2; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #7097d2 0%, #7097d2 20%, #207cca 20%, #2a6cb3 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7097d2), color-stop(20%,#7097d2), color-stop(20%,#207cca), color-stop(100%,#2a6cb3)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #7097d2 0%,#7097d2 20%,#207cca 20%,#2a6cb3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #7097d2 0%,#7097d2 20%,#207cca 20%,#2a6cb3 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #7097d2 0%,#7097d2 20%,#207cca 20%,#2a6cb3 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #7097d2 0%,#7097d2 20%,#207cca 20%,#2a6cb3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7097d2', endColorstr='#2a6cb3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
}
input[type='radio']{
	border-radius: 50%;
}
